.twoLineText {
  display: -webkit-box;
  -webkit-line-clamp: 1; /* Batasi maksimal 2 baris */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; /* Tambahkan '...' jika teks terpotong */
  white-space: normal; /* Memungkinkan baris baru */
}
