/* components/Footer.module.css */

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  margin-top: auto; /* Untuk memastikan footer berada di bagian bawah */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.nav {
  margin-top: 10px;
}

.nav a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav a:hover {
  color: #ddd;
}
